body{
    font-family: 'DM Sans', sans-serif;
    font-weight:500;
}
.input-box{
    height: 520px;
    width: 615px;
    background-color: #F3F3F3;
}

.top-bar{
    width: auto;
    height: 46px;
    color:white;
    background-color: #065A8D;
}
.top-bar-text{
    margin-top: 0;
    padding-top: 10px;
    padding-left: 20px;
    position: sticky;
    text-align: start;

}

.center{
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto;
    display: flex;
}

.right{
    display: flex;
    justify-content: flex-end; /* aligns children to left */
    align-items: end; /* optional: vertical alignment */
    width: 100%; /* ensure parent takes full width */
}


.upper-input-box{
    height: 175px;
    width: auto;
    flex-direction: column;
}


.inner-upper-box{
  display: flex;
  justify-content: space-between;
  height: 54px;
  width: 575px;
  flex-direction: row;
}

.inner-upper-box-cus{
  display: flex;
  justify-content: space-between;
  height: 74px;
  width: 575px;
  flex-direction: row;
}

.inner-text{
    font-size: 13px;

    text-align: left;
    height: auto;
    line-height: 1.4;
}
.inner-text2{
    font-size: 13px;

    text-align: right;
}

.inner-input{
    height: 19px; 
    width: 170.1px;
}
.inner-input2{
    height: 19px; 
    width: 170.1px;
}
.p-cus{
    height:0px;
    margin: 0;
}

.box1{
    height:54px;
    width: 50%;

  
}

.box1-cus{
    height:74px;
    width: 50%;

}

.box2{
    height:54px;
    width: 50%;

}
.box2-cus{
    height:74px;
    width: 50%;

}
.lower-input-box{
    width: 615px;
    height: 190px;
    display: flex;
    flex-direction: column;

}


.display-border{
    border-width: 1px;
    border-style: solid;
}

a {
    background-color: #065A8D;
    width: 126px;
    height: 35px;
    color: white;
    text-align: center;
    align-items: center;
    align-content: center;
    text-decoration: none; 
    transition: color 0.3s, background-color 0.3s;
}
a:hover {
      color: white;
      background-color: #007BFF; 
}
.a1{
    margin-top:10px;
    margin-left: 10px;
    background-color:#F3F3F3;
    color: #065A8D;
    border-width:1px;
    border-style:solid;
    border-color:#065A8D;
}
.a1:hover{
    color: white;
      background-color: #fe3a3a;
}

input{
    background-color:#95B5C9;
    color:black;
    border-width: 0;
}

select{
    border-width:0;
}